/* ------------------General styles------------------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: whitesmoke;
    scroll-behavior: smooth;
}
nav,footer{
    width: 100vw;
    background-color:grey;
    opacity: 50%;
}
/* ------------------End General styles---------------------- */

/* --------------Nav styles--------------------------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    /* position: fixed; */
}
#logo{
    border-radius: 30px;
    margin-left: 5px;
}
#logo>a>img{
    background-color: blue;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}
#nav-links>ul{
    display: flex;
    margin-right: 80px;
    margin-top: 30px;
}
#nav-links>ul>li{
    padding: 10px;
    margin: 10px;
}
#nav-links a{
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: "Roboto";
}
.hv-effect:hover{
    background-color: chartreuse;
    border-radius: 20px;
    color: black;
}
#green{
    background-color: green;
    color: white;
    border-radius: 20px;
}
#green>a{
    color: white;
}
#blue{
    background-color: blue;
    color: white;
    border-radius: 20px;
}
#black>a{
    color: black;
}
#blue>a{
    color: white;
}
/* --------------End Nav styles--------------------------- */

/* --------------Header styles------------------------------ */
/* header{
    position: relative;
    top: 200px;
} */
#section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#section-1>h1{
    color:black;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    font-size: 70px;

}
#section-1>h1 span{
    background-color: rgb(128, 219, 128);
    border-radius: 30px;
}
#section-1>h2{
    color: black;
    font-weight: 700;
    font-family: "Roboto Mono", sans-serif;
    font-size: 40px;
}
#btn-like{
    background-color:blue;
    margin-left: 50px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: "Roboto";
    text-decoration: none;
}
#section-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#section-2 div:nth-child(1){
    width: 200px;
}
#section-2 div:nth-child(2){
    width: 300px;
    text-align: center;
    margin-right: -50px;
    font-family: sans-serif;
    font-size: larger;
}
#section-2 div:nth-child(3){
    width: 200px;
}
#section-2 div img{
    width: 400px;
}
.btn-like{
    background-color: blue;
    padding: 15px;
    color:white;
    border-radius: 20px;
    font-family: "Roboto";
    text-decoration: none;
}
.btn-like:hover,#btn-like:hover{
    background-color: chartreuse;
}
/* --------------End Header styles------------------------------ */

/* ----------------main syles---------------------------------- */
/* main{
    position: relative;
    top: 200px;
} */
#main-section-1{
    margin: 30px;
}
#main-section-1 h2{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    text-align: start;
}
.main-para{
    font-family: sans-serif;
    font-size: 1.2rem;
    text-align: center;
    width: 700px;
    text-align: left;
}
#main-section-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20px 0 50px;
}
#main-section-2 div p{
    width: 300px;
}
/* ----------------main syles---------------------------------- */

/* -------------------Footer section--------------------------- */
footer{
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative;
    top: 200px; */
}
#social{
    margin-left: 30px;
    margin-top: 100px;
}
#social h3{
    font-family: sans-serif;
    margin-bottom: 20px;
    color: blue;
    font-size: 30px;
}
#social>a>img{
    display: flex;
    height: 50px;
    margin: 20px;
}
#social>a>img:hover{
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
}
.social-icons{
    display: inline;
}
#contact{
    margin-right: 200px;
}
#contact>h3{
    margin-bottom: 10px;
    font-family: "Roboto";
    font-size: 30px;
    color: blue;
}
#contact>h3:nth-child(3){
    margin-top: 20px;
}
#contact>a{
    font-family: "Roboto-mono";
    font-size: 20px;
    text-decoration: none;
}
#contact>a:hover{
    background-color: chartreuse;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
form>label{
    font-family: "Roboto";
    font-size: 30px;
}
form>input{
    size: 20px;
}
form>button{
    background-color:blue;
    padding: 20px;
    border-radius: 20px;
    width: 100px;
    font-size: 20px;
    font-family: sans-serif;
}
form>button:hover{
    background-color:green;
    color: white;
    box-shadow: 2px 2px 5px grey;
}
/* -------------------End Footer section--------------------------- */